html, body {
  margin: 0;
  user-select: none;
}

.container {
  display: flex;
  align-items: center;
  min-height: 100%;
}

@media (min-width: 1200px) {
  .offset1Md {
    margin-left: 10%;
  }

  .col6Md {
    flex-basis: 60%;
  }

  .col3Md {
    flex-basis: 30%;
  }
}

@media (min-width: 1750px) {
  .offset2Lg {
    margin-left: 20%;
  }

  .col4Lg {
    flex-basis: 40%;
  }

  .col2Lg {
    flex-basis: 20%;
  }
}
